html {
    max-width: 1400px;
    min-width: 350px;
}

body {
    font-family: 'Asap', sans-serif;
}

header {
    text-align: center;
    height: 12.5vh;
    width: 100%;
    padding-top: 2%;
    background-color: #2b2929;
}

.titulo-header {
    font-size: 3em;
    font-weight: bold;
    color: #ff9100;
}

main {
    height: 115vh;
    width: 100%;
    padding: 5vh 0;
    text-align: center;
    background-image: url(../img/fondo-programa.jpg);
    background-size: cover;
}

    section {
        /* margin-top: 5vh; */
        /* padding: 1vh 1vw; */
        width: auto;
    }
    
        .registro {
            display: block;
            margin: 0 auto;
            width: 55vw;
            border: #2b2929;
            border-radius: 25px;
            padding: 2.5%;
            background-color: #d4d6e6;
        }
            .registro-titulo {
                font-size: 2.5em;
                font-weight: bold;
            }
            .registro-subtitulo {
                font-size: 1.5em;
                color: #3b3a3a;
                margin: 2% 0;
            }
            .registro-label {
                width: 100%;
                font-size: 1.25em;
                color: #3b3a3a;
                margin: 2.5vh 0;
            }
            .registro-input {
                width: 60%;
                margin: 1.5vh 20%;
            }

            .btn-enviar {
                width: 40%;
                margin: 0 30%;
                margin-top: 4vh;
            }

footer {
    text-align: center;
    height: 17.5vh;
    width: 100%;
    background-color: #2b2929;
}
    .footer-p {
        color: #fff;
        padding-bottom: 0.35%;
    }
    footer .footer-p:first-child {
        padding-top: 2%;
    }
    footer p > a {
        text-decoration: none;
        color: #ffffff;
    }
    footer p > a > img {
        width: 15px;
    }